.jumbotron {
	background-color: #3f6c96;
	color: white;
	margin-top: 50px;
}

.img-fluid {
    width: 120%;
    height: 280px;
}

.w-100 {
    width: 100%!important;
    height: 350px!important;
}

footer {
	padding: 10px 10px 0px 10px;
	background-color: #f8f9fa;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card {
	flex: 1 100px;
	margin-top: 10px;
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
	}

.tab-content {
	padding-top: 47px;
	}