.jumbotron {
  background-color: #1c7aed;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
}
.img-fluid {
  width: 120%;
  height: 280px;
}
.w-100 {
  width: 100% !important;
  height: 350px !important;
}
footer {
  padding: 10px 10px 0px 10px;
  background-color: #f8f9fa;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card {
  flex: 1 100px;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #f2f21d;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
  background-color: #9ec75d;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 47px;
}
