@base-color: #1c7aed;
@base-color1: #f2f21d;
@base-color2: #9ec75d;

.margenes (@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @base-color;
  color: white;
  .margenes (50px, 0px)
  }

.img-fluid {
  width: 120%;
  height: 280px; }

.w-100 {
  width: 100% !important;
  height: 350px !important; }

footer {
  padding: 10px 10px 0px 10px;
  background-color: #f8f9fa;
  .margenes (10px, 0px) 
  }

.card {
  flex: 1 100px;
  .margenes (10px, 0px);
  background-color: @base-color1;
  }

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  background-color: @base-color2; 
  }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 47px; }